<h1>About</h1>

<h2 class="subheader">Why does this website exist?</h2>
<p>
    Currently, the bank I use (Up) does not offer any way to view account balances
    from outside the mobile app. As I often don't have my phone on me when I'm at my
    computer, and my phone has a habit of running out of battery at inconvenient
    times, I wanted a way to view my account balances without using my phone. This is
    the result.
</p>
<h2 class="subheader">How do I use this website?</h2>
<p>First, you need to start a bank account with Up. With this done, you can
generate an access token <a href="https://api.up.com.au/getting_started"> here. </a>
If you sign-up to this website using the access token, you will be able to view
your account balances.
</p>