<h1>(Unofficial) Up Account Viewer</h1>

<div class="center">
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <p><b>or</b>    </p>
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
    <p><b>to view your Up account balances.</b></p>
</div>

